.container {
  width: 375px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 191px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  background: var(--color-light-gray);
}

@media (max-width: 374px) {
  .container {
    width: 100%;
    min-width: 320px;
  }
}

.logoWrapper {
  width: 135px;
  margin-bottom: 106px;
}

.mainWrapper {
  position: relative;
}

.titleBox {
  position: relative;
  z-index: 10;
}

.imgWrapper {
  position: absolute;
  top: -56px;
  right: 20px;
  z-index: -10;
}

.title {
  color: var(--color-black);
  font-size: 28px;
  font-weight: 600;
  line-height: 1.21em;
  margin-bottom: 20px;
  margin-top: 0;
}

.titleSpan {
  color: var(--color-green);
}

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 128px;
}

.label {
  position: relative;
  display: block;
}

.btnBox {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.submitBtn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navLink {
  display: flex;
  justify-content: center;
  color: rgba(29, 30, 33, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5em;
  text-decoration: none;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding-top: 28px;
    padding-bottom: 250px;
    padding-left: 32px;
    padding-right: 122px;
  }

  .logoWrapper {
    width: 172px;
    margin-bottom: 168px;
  }

  .imgWrapper {
    top: -104px;
    right: 19px;
  }

  .title {
    font-size: 54px;
    line-height: 1.11em;
    width: 614px;
    margin-bottom: 54px;
  }

  .inputBox {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 62px;
    gap: 20px 14px;
  }

  .inputBox .input {
    width: 280px;
  }

  .btnBox {
    width: 280px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 28px 98px 262px 100px;
  }

  .logoWrapper {
    margin-bottom: 226px;
  }

  .mainWrapper {
    display: flex;
    gap: 54px;
  }
}
