.title {
  color: var(--color-black);
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.14em;
  margin-bottom: 14px;
  margin-top: 0;
}

.text {
  color: #6a6a6f;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28em;
  margin-bottom: 25px;
  margin-top: 0;
}

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}

.label {
  position: relative;
  display: block;
}

.btnBox {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.submitBtn {
  padding: 13px 100px;
  display: flex;
  justify-content: center;
}

.linkBtn {
  background: transparent;
  color: rgba(29, 30, 33, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5em;
  border: none;
  cursor: pointer;
  transition: var(--transition);
}

.linkBtn:hover {
  color: var(--color-green);
}

@media (min-width: 768px) {
  .text {
    font-size: 16px;
    line-height: 1.25em;
  }

  .inputBox {
    gap: 14px;
  }
}
