.homePage {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-bottom: 80px;
}

@media (min-width: 768px) {
  .homePage {
    gap: 120px;
    padding-bottom: 120px;
  }
}

@media (min-width: 1440px) {
  .homePage {
    gap: 160px;
    padding-bottom: 160px;
  }
}
